{% extends "layout.html" %}
{% load staticfiles %}
{% block body %}

<div class="container">
<img src="{% static  'train.png' %}" alt="train" class="train-animation">
<div class="card card-default" style="margin-top:3rem;">
	<div class="card-heading">
		<h3 class="card-title">关于我们</h3>
	</div>
	<div class="card-body">
		我们是来自2017级ACM班的四位同学，本网站是用于承载我们2017-2018季度作业的地方。
	</div>
	<table class="table table-hover">
		<thead>
			<th>姓名</th><th>负责内容</th>
		</thead>
		<tbody>
			<tr><td>陈伟哲</td><td>网页页面</td></tr>
			<tr><td>邓伟信</td><td>前后端连接</td></tr>
        	<tr><td>李照宇</td><td>后端(涉及用户的相关操作）</td></tr>
        	<tr><td>余子涵</td><td>后端</td></tr>
		</tbody>
	</table>
</div>
</div>

{%endblock%}
