{% extends 'searchtickets.html' %}
{% load staticfiles %}
{% load i18n %}
{% if asked == true %}
    {% block answer %}
    <div class="container">
    <div class="card">
        <div class="card-heading">
            <h3 class="card-title">查询结果</h3>
        </div>
        <table class="table">
                    <th>车次</th><th>出发地 </th><th>发车时间</th><th>目的地</th><th>到达时间</th>
                    <!-- <tr><td>产品 B</td><td>400</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td><a href="http://www.baidu.com"> <button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Buy now
        </button></a></td> </tr> -->
            <!--
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            -->
            {% for x in Historys %}

                <tr data-toggle="collapse" data-target="#tickets_info{{x.0}}" class="accordion-toggle"><td>{{x.0}}</td><td>{{x.1}}</td><td>{{x.2}}</td><td>{{x.3}}</td><td>{{x.4}}</td></tr>
                <tr>
                    <td colspan="5">

                            <div class="collapse" id="tickets_info{{x.0}}" class="accordion-body">
                                {% for a in x.5 %}
                                <p><li> {{a.0}}已买：{{a.1}} </li><li> {{a.0}}单价：￥{{a.2}}</li>
                                    <li>
                                    <a href="http://www.baidu.com">
                                    {% if a.1 > 0 %}
                                        <button type="button" class="btn btn-default btn-lg">
                                    {% else %}
                                        <button type="button" class="btn btn-default btn-lg" disabled>
                                    {%endif %}
                                       Buy now </button></a>
                                </li>
                                </p>
                                {% endfor %}
                            </div>

                        </td>
                    </tr>

            {% endfor %}
            <!--
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Button with data-target
            </button>
        -->

        </table>
    </div>
    </div>
    {% endblock %}
{% endif %}
