{% extends "layout.html" %}
{% block body %}
<div class="container">
    <img src="/static/train.png" alt="train" class="train-animation">
    <div class="card card-default" style="margin-top:3rem;">
        <div class="card-header">
            <b>您访问的地址有误，将自动跳转到<a href="/">主页</a> </b>
        </div>
        <div class="card-body" style="text-align:center">
            <p>页面将在19秒后跳转...</p>还剩<span id="timeSkip">10</span>秒
        </div>
    </div>
</div>
{% endblock %}
{% block jsextends %}
<script>
    //倒计时10S跳转
    function lxfEndtime(){
        $t=$('#timeSkip').html();
        if($t!=0){
            $('#timeSkip').html($t-1);
            $i=setTimeout("lxfEndtime()",1000);
            if( $('#timeSkip').html() == 0 ){
                window.open('/','_self');
            }
        }
    }
    lxfEndtime();
</script>
{% endblock %}
