{% extends "layout.html" %}
{% load staticfiles %}
{% load i18n %}
{% block body %}
<div class="container">
    <img src="/static/train.png" alt="train" class="train-animation">
    <div class="card card-default" style="margin-top:3rem;">
        <div class="card-header">
            <b>{% trans "There is something wrong with the url you have just entered" %}<a href="/">{% trans "Home page" %}</a> </b>
        </div>
        <div class="card-body" style="text-align:center">
            <p>{% trans "The page will be automatically go to the home page after 10 seconds" %}</p>{% trans "There are" %}<span id="timeSkip">10</span>{% trans "seconds rest" %}
        </div>
    </div>
</div>
{% endblock %}
{% block jsextends %}
<script>
    function lxfEndtime(){
        $t=$('#timeSkip').html();
        if($t!=0){
            $('#timeSkip').html($t-1);
            $i=setTimeout("lxfEndtime()",1000);
            if( $('#timeSkip').html() == 0 ){
                window.open('/','_self');
            }
        }
    }
    lxfEndtime();
</script>
{% endblock %}
