<!doctype html>
<html lang="en" style="position: relative;min-height: 100%;">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/favicon.ico">

    <title>Train Tickets</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/static/boot4/docs/4.1/examples/sticky-footer/sticky-footer.css">
    <link href="/static/boot41/dist/css/bootstrap.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


    <!--
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <link href="/static/bootstrap/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    {% block headcss %}
    {% endblock %}

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!--
    <script src="/static/bootstrap/js/ie-emulation-modes-warning.js"></script>

    <script src= "/static/bootstrap/js/vendor/jquery.min.js"></script>

    <link href="/static/bootstrap/css/bootstrap-table-expandable.css" rel="stylesheet">

    <script src="/static/bootstrap/js/bootstrap-table-expandable.js"></script>

    </script> -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body style="margin-bottom:60px;">
      <header>
          <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/">Train Tickets Selling System</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarCollapse" class="collapse navbar-collapse">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about/">about</a>
                  </li>
              </ul>
              <ul class="navbar-nav nav-right">
                  <form class="form-inline">
              {% if authority == 0 %}
                    <li class="nav-item" > <a href="/login/" style="color: #FFFFFF"><button type="button" name="button" class="btn btn-success dlink">login now</button></a></li>
                    <li class="nav-item" style="margin-left: 10px;"> <a href="/signup/" style="color: #FFFFFF"><button type="button" name="button" class="btn btn-success">sign up now</button></a></li>
              {% else %}
                    <li class="nav-item btn-group dropleft">
                        <button type="button" name="button" class=" btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 用户：{{login_name}} </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="/change_info/">更改用户信息</a>
                          <a class="dropdown-item" href="/tickets/buyhistory">查询订票记录</a>
                          <div class="dropdown-divider"></div>
                          {% if authority > 1 %}
                              <a class="dropdown-item" href="/trains/">加车次</a>
                              <a class="dropdown-item" href="/trains/query_train/">查询车次</a>
                              <div class="dropdown-divider"></div>
                          {% endif %}
                          <a class="dropdown-item" href="/logout/">登出</a>
                      </div>
                      </li>

              {% endif %}
              </form>
              </ul>
            </div><!-- /.nav-collapse -->
          </nav>
    </header>


	{% block body %}
	{% endblock %}

    <footer class="footer">
        <div class="container">
            <p class="float-right"><a href="#">Back to top</a></p>
            <p> <a href="/about/">About us</a> </p>
        </div>

    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script>window.jQuery || document.write('<script src="/static/boot4/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="/static/boot4/assets/js/vendor/popper.min.js"></script>
    <script src="/static/boot4/dist/js/bootstrap.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="/static/boot4/assets/js/vendor/holder.min.js"></script>
  </body>
</html>
