<!doctype html>
<html lang="en" style="position: relative;min-height: 100%;">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/favicon.ico">

    <title>Train Tickets</title>

    {% if style == '0' %}
        <link href="/static/boot41/dist/css/bootstrap.css" rel="stylesheet">
    {% else %}
        <link href="/static/boot4/dist/css/bootstrap.css" rel="stylesheet">
    {% endif %}
    <link rel="stylesheet" href="/static/boot4/docs/4.1/examples/sticky-footer-navbar/sticky-footer-navbar.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/train.css">

    {% block headcss %}
    {% endblock %}

  </head>

  <body style="margin-bottom:3rem;">
      <header>
          {% if style == '0' %}
          <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-info" style="height:3rem; opacity:0.9;">
            {% else %}
                <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="height:4.5rem;">
            {% endif %}
            <a class="navbar-brand" href="/">Train Tickets Selling System</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarCollapse" class="collapse navbar-collapse">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about/">About </a>
                  </li>
              </ul>
              <ul class="navbar-nav nav-right">
              {% if authority == "0" %}
                    <li class="nav-item" > <a href="/login/" style="color: #FFFFFF"><button type="button" name="button" class="btn btn-success dlink">login now</button></a></li>
                    <li class="nav-item" style="margin-left: .1rem;"> <a href="/signup/" style="color: #FFFFFF"><button type="button" name="button" class="btn btn-success">sign up now</button></a></li>
              {% else %}
                    <li class="nav-item btn-group dropleft">
                        <button type="button" name="button" class=" btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            用户：{{ login_name }} </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="/change_info/">更改用户信息</a>
                          <a class="dropdown-item" href="/tickets/buyhistory">查询订票记录</a>
                          <div class="dropdown-divider"></div>
                          {% if authority == "2" %}
                              <a class="dropdown-item" href="/trains/">加车次</a>
                              <a class="dropdown-item" href="/trains/query_train/">查询车次</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="/dl_files/">下载当前库（用于备份）</a>
                              <a class="dropdown-item" href="/uploading/">上传库文件（用于恢复）</a>
                              <div class="dropdown-divider"></div>
                          {% endif %}
                          <a class="dropdown-item" href="/logout/">登出</a>
                      </div>
                      </li>
              {% endif %}
                  <li class="nav-item dropleft" style="margin-left:.1rem;">
                      <button type="button" name="button" class=" btn btn-outline-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 更换页面风格 </button>
                      <div class="dropdown-menu" >
                        <a class="dropdown-item" href="/cstyle0/">方角风格</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/cstyle1/">普通风格</a>
                    </div>
                  </li>
              </ul>
            </div><!-- /.nav-collapse -->
          </nav>
    </header>


	{% block body %}
	{% endblock %}

    <footer class="footer">
        <div class="container">
            <p class="float-right"><a href="#">Back to top</a></p>
            <p> <a href="/about/">About us</a> </p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script>window.jQuery || document.write('<script src="/static/boot4/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="/static/boot4/assets/js/vendor/popper.min.js"></script>
    <script src="/static/boot4/dist/js/bootstrap.js"></script>
    {% block jsextends %}
    {% endblock %}

  </body>
</html>
