{% extends 'layout.html' %}
{% load i18n %}
{% block body %}
    <div class="container" style="margin-top: 4rem;">
        <div class="card">
            <div class="card-header">
                {% trans "Seach Train"%}
            </div>
            <div class="card-body">
                <h1>{% trans "Please enter Trainid"%}</h1>
                <form method="post" action="/trains/query_train/">
                    {%csrf_token%}
                <label for="trainid" class="sr-only">{% trans "Train id" %}</label>
                <input type="text" name="trainid" class="form-control" placeholder="{% trans 'Train id' %}" required autofocus>
                <div class="row" style="margin-top: .5rem;">
                    <div class="col text-center">
                        <button type="submit" class="btn btn-warning">{% trans "Search Now" %}</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    {% block ans %}
    {% endblock %}
{% endblock %}
