{% extends "layout.html" %}
{% block headcss %}
<link href="/static/bootstrap/css/signin.css" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="panel panel-primary" style="margin-top: 11px; width: 90%; margin-left: 5%">
      <div class="panel-body">
      <form class="form-signin">
        <div class="form-group">
          <input type="text" placeholder="起始地" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" placeholder="目的地" class="form-control">
        </div>
        <div class="form-group">
          <input type="date" placeholder="发车日期" class="form-control">
        </div>
        <button type="submit" class="btn btn-warning" value="zjd">查询直达车次</button>
        <button type="submit" class="btn btn-warning" value="yzz">查询中转车次</button>
      </form>
      </div>
    </div><!--/.navbar-collapse -->

    {% block answer %}
    {% endblock %}
{% endblock %}
