{% extends "layout.html" %}
{% block headcss %}
<link href="/static/boot41/docs/4.1/examples/sign-in/signin.css" rel="stylesheet">
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block body %}

    <div class="container" style="margin-top: 4rem;">

      <form class="form-signin" method="post" action="/signup/">
        {% csrf_token %}
        <h2 class="form-signin-heading">get informations</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="emailaddress" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputName" class="sr-only">Name</label>
        <input type="text" name="username" class="form-control" placeholder="User Name" required>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="pass" name="password" class="form-control" placeholder="Password" required>
        <label for="inputPhone" class="sr-only">Phone Number</label>
        <input type="tel" name="phonenumber" class="form-control" placeholder="Phone Number" required>
        <div id="btn">
            <img src="/static/eye.png" alt="eye" style="height:1.5rem;">
            <b>显示密码</b>
        </div>
        <!--
        <div class="g-recaptcha" data-sitekey="6LeSvlwUAAAAANmwdITzNUOZEtG0qzsZHG-losL9"></div>
    -->

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
      </form>

    </div> <!-- /container -->

{% endblock %}
{% block jsextends %}
    <script src="/static/password.js"></script>
{% endblock %}
